.jumbotron {
    background-color: gray; 
    padding: 5%;
    color: white;
}

.container-description {
    margin-top: 5%;
} 

footer {
    margin-top: 5%; 
    background-color: gray;
    padding: 1%;
    text-align: center;
    color: white;
}